@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Quicksand:wght@500;600&display=swap');
.baslik {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-image: url("svg/american-public-power-association-XGAZzyLzn18-unsplash 1.png");
}

.header {
    height: 6vw;
    width: 100%;
    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
}

.container {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.header img {
    width: 10vw;
    padding-left: 4.2vw;
}

.yazi {
    display: flex;
    justify-content: center;
}

.yazi img {
    width: 43vw;
    margin-bottom: 65px;
}

.asagi {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    height: 5vw;
}

.asagi img {
    width: 100%;
    height: 90%;
}

.paragraf {
    margin-top: 5vw;
    text-align: center;
}

p {
    width: 55%;
    font-family: 'Inter', 'san-serif';
    color: gray;
    font-style: normal;
    font-weight: 10px;
    font-size: 1.1vw;
    line-height: 1.5vw;
    /* or 136% */
}

.paragraf p {
    margin-left: auto;
    margin-right: auto;
}

.video-kismi {
    display: flex;
    position: relative;
    padding-top: 6vw;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.seffaf-simsek {
    position: absolute;
    left: 1vw;
    top: 15%;
}

.seffaf-yaprak {
    position: absolute;
    top: 57%;
    right: 1.2vw;
}

.seffaf-simsek img {
    height: 18vw;
}

.seffaf-yaprak img {
    height: 18vw;
}

.video {
    position: relative;
    display: flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
}

.hy-video {
    border-radius: 15px;
    width: 70%;
    height: 25vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    align-items: center;
}

.kazanimlari {
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proje-sureci {
    width: 75vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.proje-sureci p {
    width: 33vw;
    border-radius: 1.8vw;
    /* background-color: #f2f2f2ee; */
    background-color: rgb(241, 245, 234);
    box-shadow: 0px 4px 8px #F1F3F7;
    font-family: 'Inter', 'san-serif';
    font-style: normal;
    font-size: 1.1vw;
    line-height: 1.5vw;
    font-weight: 600;
    padding: 2vw;
    color: #80BC00;
    position: relative;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.ps-paragraf-cift {
    position: relative;
}

.ps-paragraf-cift p {
    margin-left: 37vw;
    text-align: right;
}

.ps-paragraf-tek {
    position: relative;
}

.sol-panel {
    position: absolute;
    left: 14.5vw;
    margin-top: 14vw;
    height: 5.5vw;
}

.sag-panel {
    position: absolute;
    left: 52vw;
    top: 19vw;
    height: 5.5vw;
}

.p1-dikey {
    position: absolute;
    top: 3vw;
    left: 18vw;
    height: 23vw;
}

.p2-yatay {
    position: absolute;
    top: 20vw;
    left: 18vw;
    width: 50vw;
}

.p1-yat {
    margin-top: 5vw;
}

.p1-pan {
    margin-top: 21vw;
}

.p2-pan {
    margin-top: 2vw;
}

.p2-yat {
    margin-top: 5vw;
}

.p2-yat {
    margin-top: 2vw;
}

.p3-pan {
    margin-top: 18vw;
}

.p4-yat {
    margin-top: 2vw;
}

.p4-dik {
    width: 1vw;
}

.p5-yat {
    margin-top: 2vw;
}

.p5-pan {
    top: 5vw;
}

.p6-yat {
    margin-top: 3vw;
}

.p6-dik {
    height: 19vw;
    width: 1vw;
}

.p6-pan {
    margin-top: 3vw;
}

.p7-yat {
    margin-top: 6vw;
}

.p7-pan {
    top: 10vw;
}

.p2-dikey {
    position: absolute;
    left: 55vw;
    top: 8vw;
    height: 15vw;
    width: 0.65vw;
}

.p3-yatay {
    position: absolute;
    top: 21vw;
    left: 5vw;
    width: 50vw;
}

.p3-dikey {
    position: absolute;
    top: 3vw;
    left: 18vw;
    height: 18vw;
    width: 0.65vw;
}

.p7-dik {
    height: 24vw;
}

.pkazanim {
    margin-top: 10vw;
}

ul {
    width: 50%;
}

li {
    padding-top: 1.6vw;
    font-family: 'Inter', 'san-serif';
    color: gray;
    font-style: normal;
    font-size: 1.1vw;
    line-height: 1.5vw;
}

.destek-ol {
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 12vw;
}

.ds-simsek {
    position: absolute;
    left: 4.8vw;
    height: 12vw;
    top: 10vw;
}

.ds-yaprak {
    position: absolute;
    right: 4.8vw;
    top: 16vw;
    height: 12vw;
}

.des-ol {
    font-family: 'Quicksand';
    position: relative;
    background-color: #7B98CE;
    border-radius: 30px;
    color: white;
    text-align: center;
    width: 62%;
    padding: 3vw 1.2vw 3vw 1.2vw;
    line-height: 3vw;
    font-size: 2.3vw;
    font-weight: 700;
}

.projeler {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.projeler p {
    padding-top: 3.5vw;
    text-align: center;
    color: #80BC00;
    font-size: 1.8vw;
    line-height: 2.5vw;
    font-weight: 500;
    padding-bottom: 15px;
    font-family: 'Quicksand';
}

.kart1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 16vw;
    height: 26vw;
    margin-top: 100px;
    border: 0.3vw solid #FDDF4D;
    border-radius: 30px;
}

.simsekdivi {
    position: absolute;
    left: 14vw;
    top: 14px;
}

#yurtici-proje {
    width: 80%;
    border: #80BC00;
}

.simsekdivi2 {
    position: absolute;
    right: 14vw;
    top: 14px;
}

.kart2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 16vw;
    height: 26vw;
    margin-top: 100px;
    border: 0.3vw solid #FDDF4D;
    border-radius: 30px;
}

#yurtdisi-proje {
    width: 80%;
    border: #80BC00;
}

select {
    font-family: 'Quicksand';
    color: #73798480;
    font-size: 1.4vw;
    font-weight: 100;
    -webkit-appearance: none;
    background-image: url(svg/Group\ 453.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 35px;
}

option {
    font-size: 16px;
    font-family: 'Inter', 'san-serif';
}

button {
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    margin-bottom: 0.8vw;
    width: 7.2vw;
    color: white;
    background-color: #80BC00;
    border: #80BC00;
    border-radius: 10px;
    font-size: 1vw;
    font-family: 'Quicksand';
    font-weight: 200;
}

.footer {
    width: 100%;
    height: 6vw;
    margin-top: 15%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #2D2D2D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-logo {
    margin-left: 16%;
    margin-right: 2.5vw;
    height: 5.3vw;
}

.ft-yazi-dis {
    flex-grow: 1;
    margin-left: 3vw;
}

.ft-yazi {
    border: 5px;
    height: 5.7vw;
}

.ft-cizgi {
    height: 9vw;
    width: 0.4vw;
}

.footer-link {
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
    line-height: 2vw;
}

a {
    text-decoration: none;
    color: #FFFF;
    font-family: 'Inter', 'san-serif';
    font-size: 0.9vw;
    font-weight: 500;
}

a:hover {
    color: #80BC00;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 1px 1px black;
}

.kazanimlari p {
    font-family: 'Quicksand';
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #80BC00;
    font-size: 3.3vw;
    line-height: 2.6vw;
    padding-bottom: 2vw;
}

@media screen and (max-width: 1140px) {
    .kazanimlari p {
        font-size: 3.5vw;
    }
    .paragraf p {
        font-size: 1.5vw;
        line-height: 2vw;
    }
    li {
        font-size: 1.5vw;
        line-height: 2vw;
    }
    .seffaf-yaprak img {
        height: 210px;
    }
    .seffaf-simsek img {
        height: 210px;
    }
    .ds-simsek {
        left: 4.2vw;
        top: 10vw;
        height: 13vw;
    }
    .ds-yaprak {
        right: 4.2vw;
        top: 16vw;
        height: 13vw;
    }
    .simsekdivi {
        top: 10%;
    }
    .simsekdivi2 {
        top: 10%;
    }
    .projeler img {
        height: 120px;
    }
    .kart1 {
        border: 4px solid #FDDF4D;
    }
    .kart2 {
        border: 4px solid #FDDF4D;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 640px;
    }
    .header .logo {
        width: 20%;
    }
    .paragraf p {
        font-size: 1.8vw;
        line-height: 3vw;
        width: 65%;
    }
    .kazanimlari {
        padding-top: 120px;
        line-height: 35px;
    }
    .kazanimlari p {
        font-size: 4.8vw;
        line-height: 5vw;
    }
    .video-kismi {
        width: 70%;
    }
    .seffaf-yaprak img {
        height: 190px;
    }
    .seffaf-simsek img {
        height: 190px;
    }
    .hy-video {
        width: 50vw;
        height: 270px;
    }
    .proje-sureci {
        width: 80vw;
        margin-left: 6.2vw;
    }
    .proje-sureci p {
        width: 45vw;
        font-size: 1.5vw;
        line-height: 2vw;
    }
    .sol-panel {
        left: 18.5vw;
        margin-top: 14vw;
        height: 7vw;
    }
    .sag-panel {
        left: 61vw;
        top: 21vw;
        height: 7vw;
    }
    .p1-dikey {
        top: 3vw;
        left: 23vw;
        height: 26vw;
        width: 1vw;
    }
    .p2-yatay {
        top: 20vw;
        left: 23vw;
        width: 45vw;
        height: 1vw;
    }
    .p2-dikey {
        left: 65vw;
        top: 8vw;
        height: 18vw;
        width: 1vw;
    }
    .p3-yatay {
        top: 21vw;
        left: 5vw;
        width: 60vw;
        height: 1vw;
    }
    .p3-dikey {
        top: 3vw;
        left: 23vw;
        height: 21vw;
        width: 1vw
    }
    .p1-pan {
        margin-top: 25vw;
    }
    .p1-yat {
        margin-top: 9vw;
    }
    .p2-pan {
        margin-top: 2vw;
    }
    .p2-yat {
        margin-top: 4vw;
    }
    .p3-yat {
        margin-top: 2vw;
    }
    .p3-pan {
        margin-top: 20vw;
    }
    .p6-yat {
        margin-top: 6vw;
    }
    .p6-dik {
        height: 20vw;
    }
    .p7-dik {
        height: 28vw;
    }
    .p7-yat {
        margin-top: 10vw;
    }
    .p7-pan {
        margin-top: 17vw;
    }
    ul {
        width: 85%;
    }
    li {
        font-size: 1.8vw;
        line-height: 3vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .destek-ol {
        width: 80%;
    }
    .destek-ol p {
        width: 70%;
        font-size: 3.5vw;
        line-height: 4.5vw;
    }
    .ds-simsek {
        left: 4vw;
        top: 11vw;
        height: 145px;
    }
    .ds-yaprak {
        right: 4vw;
        top: 18.8vw;
        height: 145px;
    }
    .projeler p {
        font-size: 3vw;
        line-height: 4vw;
    }
    .kart1 {
        height: 350px;
        width: 230px;
    }
    .kart2 {
        height: 350px;
        width: 230px;
    }
    button {
        width: 45%;
        font-size: 1.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }
    select {
        width: 100%;
        font-size: 18px;
        padding-left: 2px;
    }
    .simsekdivi {
        left: 14vw;
        height: 120px;
        top: 8%;
    }
    .simsekdivi2 {
        right: 14vw;
        height: 120px;
        top: 8%;
    }
}

@media screen and (max-width: 850px) {
    .video-kismi {
        width: 70%;
    }
    .hy-video {
        height: 225px;
    }
    .seffaf-simsek {
        top: 13%;
        left: 0vw;
    }
    .seffaf-yaprak {
        top: 54%;
        right: 0vw;
    }
    .seffaf-yaprak img {
        height: 180px;
    }
    .seffaf-simsek img {
        height: 180px;
    }
    .projeler {
        flex-direction: column;
        align-items: center;
    }
    .projeler p {
        font-size: 3vw;
        line-height: 35px;
        padding-top: 5vw;
        padding-bottom: 2vw;
    }
    select {
        font-size: 18px;
    }
    button {
        font-size: 15px;
        margin-bottom: 1.5vw;
    }
    .ds-simsek {
        left: 4vw;
        height: 120px;
        top: 12vw;
    }
    .ds-yaprak {
        right: 4vw;
        height: 120px;
        top: 18vw;
    }
    .des-ol {
        font-size: 22px;
        line-height: 30px;
    }
    .kart1 {
        height: 300px;
        width: 210px;
    }
    .kart2 {
        margin-top: 150px;
        height: 300px;
        width: 210px;
    }
    .simsekdivi {
        left: 30vw;
        top: 36px;
    }
    .simsekdivi2 {
        right: 30vw;
        top: 495px;
    }
    .kart1-simsek {
        width: 70px;
    }
    .kart2-simsek {
        width: 70px;
    }
    .footer {
        height: 15vw;
    }
    .ft-logo {
        height: 8vw;
    }
    .ft-cizgi {
        height: 12vw;
    }
    .ft-yazi {
        height: 8vw;
    }
    a {
        font-size: 1.4vw;
        line-height: 2.5vw;
    }
}

@media screen and (max-width: 780px) {
    .paragraf {
        margin-top: 10vw;
    }
    .paragraf p {
        font-size: 2vw;
        line-height: 3vw;
        width: 80vw;
    }
    .kazanimlari {
        padding-top: 120px;
        line-height: 35px;
    }
    .kazanimlari p {
        font-size: 5vw;
    }
    .video-kismi {
        margin-top: 10vw;
        width: 100%;
    }
    .hy-video {
        width: 60vw;
        height: 260px;
    }
    .seffaf-simsek {
        top: 50px;
        left: 7.6vw;
    }
    .seffaf-yaprak {
        top: 32vw;
        right: 7.6vw;
    }
    .seffaf-yaprak img {
        height: 200px;
    }
    .seffaf-simsek img {
        height: 200px;
    }
    /*-------------------------------------*/
    .proje-sureci {
        width: 80vw;
    }
    .proje-sureci p {
        width: 75vw;
        font-size: 2vw;
        line-height: 3vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20vw;
        text-align: center;
    }
    .sol-panel {
        left: 18.5vw;
        margin-top: 14vw;
        height: 7vw;
    }
    .sag-panel {
        left: 61vw;
        top: 21vw;
        height: 7vw;
    }
    .p1-dikey {
        height: 0vw;
    }
    .p2-yatay {
        width: 0vw;
    }
    .p2-dikey {
        height: 0vw;
    }
    .p3-yatay {
        width: 0vw;
    }
    .p3-dikey {
        height: 0vw;
    }
    .p1-yat {
        width: 0vw;
    }
    .p6-dik {
        height: 0vw;
    }
    .p7-dik {
        height: 0vw;
    }
    .p1::before {
        content: url(svg/dikey-cizgi1.svg);
        position: absolute;
        top: 7vw;
        left: 40vw;
    }
    .p2::before {
        content: url(svg/dikey-cizgi2.svg);
        position: absolute;
        top: 9vw;
        left: 40vw;
    }
    .p3::before {
        content: url(svg/dikey-cizgi3.svg);
        position: absolute;
        top: 5vw;
        left: 40vw;
    }
    .p4::before {
        content: url(svg/dikey-cizgi1.svg);
        position: absolute;
        top: 9vw;
        left: 40vw;
    }
    .p1-pan {
        height: 9vw;
        margin-top: 27.5vw;
        left: 35vw;
    }
    .p2-pan {
        height: 9vw;
        margin-top: 3vw;
        left: 35vw;
    }
    .p3-pan {
        height: 9vw;
        top: 7vw;
        left: 35vw;
    }
    .p4-pan {
        height: 9vw;
        top: 21vw;
        left: 35vw;
    }
    .p5-pan {
        height: 9vw;
        top: 7vw;
        left: 35vw;
    }
    .p6-pan {
        height: 9vw;
        top: 18vw;
        left: 35vw;
    }
    .p7-pan {
        height: 9vw;
        top: 16vw;
        left: 35vw;
    }
    /*----------------------------------------------*/
    .pkazanim {
        margin-top: 0vw;
    }
    ul {
        width: 90%;
    }
    li {
        font-size: 2vw;
        line-height: 3vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        height: 20vw;
    }
    .ft-logo {
        height: 10vw;
    }
    .ft-cizgi {
        height: 15vw;
    }
    .ft-yazi {
        height: 10vw;
    }
    .footer-link a {
        font-size: 1.8vw;
        line-height: 3vw;
    }
}

@media screen and (max-width: 650px) {
    .container {
        max-width: 600px;
        padding-top: 20px;
        padding-left: 50px;
    }
    .header.logo {
        width: 80%;
    }
    .yazi img {
        width: 70vw;
    }
    .asagi img {
        width: 50px;
    }
    .paragraf p {
        font-size: 2.5vw;
        line-height: 3.2vw;
        width: 70vw;
    }
    .kazanimlari {
        padding-top: 120px;
        line-height: 35px;
    }
    .kazanimlari p {
        font-size: 7vw;
        line-height: 7vw;
    }
    ul {
        width: 90%;
    }
    li {
        font-size: 2.5vw;
        line-height: 3.2vw;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .video {
        width: 90%;
    }
    .hy-video {
        height: 230px;
    }
    .seffaf-simsek {
        left: 7vw;
        top: 20px;
    }
    .seffaf-yaprak {
        top: 32vw;
        right: 7vw;
    }
    .seffaf-simsek img {
        margin-top: 40px;
        height: 165px;
        left: 25px;
    }
    .seffaf-yaprak img {
        top: 70%;
        right: 25px;
        height: 165px;
    }
    .simsekdivi {
        left: 40%;
    }
    .simsekdivi2 {
        right: 40%;
    }
    .des-ol {
        border-radius: 15px;
    }
    .ds-simsek {
        top: 58%;
        height: 100px;
    }
    .ds-yaprak {
        top: 70%;
        height: 100px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        position: relative;
        max-width: 500px;
        padding-left: 0px;
    }
    .header .logo {
        position: absolute;
        margin-left: 0px;
        width: 25vw;
    }
    .yazi img {
        width: 80vw;
    }
    .asagi img {
        width: 13vw;
    }
    .paragraf p {
        font-size: 3vw;
        line-height: 3.8vw;
        width: 70vw;
    }
    .kazanimlari p {
        font-size: 7vw;
        line-height: 7vw;
    }
    ul {
        width: 90%;
    }
    li {
        margin-top: 1.2vw;
        font-size: 3vw;
        line-height: 3.8vw;
        width: 90%;
    }
    .video iframe {
        height: 200px;
    }
    .seffaf-simsek {
        left: 8vw;
    }
    .seffaf-yaprak {
        top: 34vw;
        right: 8.6vw;
    }
    .seffaf-simsek img {
        margin-top: 40px;
        height: 135px;
    }
    .seffaf-yaprak img {
        top: 70%;
        height: 135px;
    }
    .destek-ol {
        width: 90%;
    }
    .destek-ol p {
        font-size: 4.5vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .ds-simsek {
        top: 58%;
        height: 100px;
    }
    .ds-yaprak {
        top: 70%;
        height: 100px;
    }
    .projeler p {
        font-size: 4.4vw;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        height: 30vw;
        line-height: 0px;
        justify-content: space-around;
    }
    .video iframe {
        height: 160px;
    }
    .seffaf-simsek {
        left: 7.4vw;
        top: 2%;
    }
    .seffaf-yaprak {
        top: 59%;
        right: 7.5vw;
    }
    .seffaf-simsek img {
        margin-top: 40px;
        height: 115px;
    }
    .seffaf-yaprak img {
        top: 78%;
        height: 115px;
    }
}